html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #202020;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #808080;
}

.content {
    height: 100%;
    font-family: Consolas, "Courier New", serif;
    letter-spacing: -0.05em;
    font-size: 0.8em;
    line-height: 1.8em;
}

.stacktrace {
    float: left;
    width: calc(20% - 1px);
    height: 100%;
    overflow: auto;
    border-right: 1px solid #FFF;
    font-size: 0.9em;
}

.debug {
    float: right;
    width: 80%;
    height: 100%;
    overflow-y: scroll;

}

.content .inline {
    padding: 20px;
    width: 90%;
}

.arg {
    color: #AAAAAA;
}

h1 {
    font-size: 2.5em;
    color: #ca8a04;
}

h2 {
    font-size: 1.8em;
    color: #EEE;
}

h3 {
    font-size: 1.1em;
    color: #AAAAAA;
}

hr {
    border-top: 1px solid #101010;
    border-bottom: 1px solid #303030;
    border-left: none;
    border-right: none;
    border-radius: 0;
}